{{ bootstrap.load_css() }}

<!-- Custom fonts for this template -->


<link href="/static/bootstrap/css/flatly.min.css" rel="stylesheet">


        <div class="row h-100 justify-content-center align-items-center">
                <img src="/static/app_logo_{{config.APP_NAME}}.png" width="20px" height="20px" class="" alt="">
        </div>
            <div class="row h-100 justify-content-center align-items-center">
                 <h2>{{app_name}} Personal Statement Builder</h2>
        </div>
    <div class="col-md-8">
    <div class="card bg-light mb-3">
    <div class="card-body">
    <h5 class="card-title">{{current_user.username}}'s draft personal statement</h5>
    <br>
    
    {% for question, answer in data.items() %}    
    <p class="card-text">{{answer}}</p>
    {% endfor %}
  </div>
    </div>
    </div>

