{% extends "header.html" %} {% block app_content %}
<link rel="stylesheet" href="/static/css/timeline.css">
<div class="container">
    <br>

    <div class="container">
        <div class="row">
            <br/>

            <div class="col-md-12">
                {% for statement_project, user in statement_project_data %}
                <h1>{{statement_project.title}}</h1>
                <br><a href="{{url_for('statements.view_statements')}}"><button class="btn btn-primary"><i class="fa fa-chevron-left"></i> Back</button></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>

</div>

<div class="container">
 {% if statement_project_uploads|length < 1 %}
  <div class="card bg-light mb-3 text-center">
  <div class="card-body">
    <h5 class="card-title">You haven't uploaded any statements!</h5>
    <p class="card-text">Upload a draft statement so that we can start to help you.</p>
    <a href="{{url_for('statements.upload_statement', project_id = project_id)}}"><button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Upload a new statement </button></a>
  </div>
</div>
 {% else %}
    <ul class="timeline">     
        {% for upload, user in statement_project_uploads %}
         {% if upload.user_id == project_owner_user_id %}
        <li>
        {% else %}
        <li class="timeline-inverted">
         {% endif %}
          <div class="timeline-badge light"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title"><a href="{{url_for('statements.download_statement', statement_id = upload.id)}}">{{upload.original_filename|truncate(35)}}</a></h5>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{upload.humanized_timestamp}} by {{user.username}}</small></p>
            </div>
            <div class="row">
             <div class="col-10">
            <div class="timeline-body">
              <p>{{upload.description}}</p>
            </div>
             </div>
             <div class="col-2">
            {% if admin %}
            <a href="{{url_for('statements.delete_statement', statement_id = upload.id)}}" <button class="btn btn-danger"><i class="fa fa-trash"></i></button></a>
            {% endif %} 
            </div>
          </div>
          </div>
        </li>
        
       {% endfor %}
    </ul>
   
    <div class="row justify-content-center align-items-center">
    <a href="{{url_for('statements.upload_statement', project_id = project_id)}}" <button class="btn btn-success"><i class="fa fa-plus-circle"></i> Upload a new statement </button></a>
    </div>
    {% endif %}
</div>


{% endblock %}